@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap");
@import url("http://fonts.cdnfonts.com/css/helvetica-neue-9");

.centered-header {
  max-width: 700px;
}

.spacer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 40%;
}

h1, h2, h3, h4, h5 {
  font-family: "Jost", sans-serif;
}

.funky {
  color: rgb(47, 122, 192);
  text-shadow: 3px 3px rgb(23, 43, 97);
}

#title {
  max-width: 30vw;
  max-height: 14vh;
  padding: 3vh 3vw;
}

.todo {
  color: red;
}

.image-block {
  height: 40vh;
}
