@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9");

.centered-header {
  max-width: 700px;
}

.spacer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 40%;
}

body {
  background-color: #065333;
}

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", serif;
  color: #ffffff;
}

h1 {
    text-transform: uppercase;
}

p {
    font-family: "Playfair Display", serif;
    color: #ffffff;
}
a {
    color: #bcbefa;
}

.funky {

}



#title {
  max-width: 30vw;
  max-height: 14vh;
  padding: 2vh 2vw;
}

.custom-borders-inbetween:not(:last-child) {
    border-right: 3px solid #ffffff;
}

.todo {
  color: red;
}

.nav-link:hover {
  text-decoration: underline;
}
