@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-9");

@font-face {
  font-family: "Coffee-tin";
  src: url('/fonts/CoffeetinInitials-YXJ2.ttf') format('truetype');
}

@font-face {
  font-family: "BestaBaru";
  src: url('/fonts/BestaBaru-8OaO0.ttf') format('truetype');
}

@media (max-width: 767px) {
  .header-nav {
    width: 50%;
    flex-direction: column;
  }

  .header-nav:nth-child(n) {
    width: 100%;
  }
  
  .header-nav > :nth-child(n) {
    width: 100%;
    text-align: center;
  }

  #socials {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

@font-face {
  font-family: "Comic Sans MS";
  src: url("{% static 'fonts/comicsans.woff2'%}") format("woff2"), /* chrome firefox */
  url("{% static 'fonts/comicsans.woff'%}.woff") format("woff"), /* chrome firefox */
  url("{% static 'fonts/comicsans.ttf'%}.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
}
.rainbow-text {
  animation: rainbow 2s linear;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%)
  0 0/200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main > p, .main > h1 {
  font-family: 'Comic Sans MS', sans-serif;
}

@keyframes rainbow {
  to {background-position:-200% 0%}
}


.heading {
  font-family: "BestaBaru", serif;
  color: #e9be7a;
  letter-spacing: 0.2em; 
  font-size: 8vw;
}

.centered-header {
  max-width: 700px;
}

.spacer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 40%;
}

body, section{
  background: linear-gradient(90deg, #790000, #5f0000);
}

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", serif;
  color: #fcffdc;
}

h1 {
    text-transform: uppercase;
}

p {
    font-family: "Playfair Display", serif;
    color: #fcffdc;
}
a {
    color: #bcbefa;
    &:hover {
        color: #b37df4;
    }
}

ul {
    list-style: none;
    font-family: "Playfair Display", serif;
    color: #fcffdc;
}

li::marker {
    font-family: "Playfair Display", serif;
    color: #fcffdc;
}


.btn-primary {
    background-color: #bcbefa;
    border-color: #bcbefa;
    &:hover {
        background-color: #b37df4;
        border-color: #b37df4;
    }
}

.accordion-body {
    font-family: "Playfair Display", serif;
}
.accordion-button:not(.collapsed) {
    background-color: #bcbefa;
}

#title {
  max-width: 30vw;
  max-height: 14vh;
  padding: 2vh 2vw;
}

.custom-borders-inbetween{
    border-right: 2px solid #fcffdc;
    border-left: 2px solid #fcffdc;

}

.todo {
  color: red;
}

.nav-link:hover {
  text-decoration: underline;
}
