{{ define "main" }}
<section class="container px-4 py-4" style="max-width: 90ch">
  <div class="centered-header pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-bold funky" id="faqs" > FAQs </h1>
  </div>
  <div class="container px-4">
    <h4 class="fw-bold mb-0 py-4"> General Questions </h4>
    <div class="accordion" id="faqs-accordion">
      {{ $i := 0 }} 
      {{ range $.Site.Data.general }} 
      {{ $i = add $i 1 }} 
      {{ partial "faq.html" (dict "ctx" . "i" $i) }} 
      {{ end }}
    </div>
    <h4 class="fw-bold mb-0 py-4"> Accessibility Questions </h4>
    <div class="accordion" id="faqs-accordion">
      {{ $i := 0 }} 
      {{ range $.Site.Data.access }} 
      {{ $i = add $i 1 }} 
      {{ partial "faq.html" (dict "ctx" . "i" $i) }} 
      {{ end }}
    </div>
    <h4 class="fw-bold mb-0 py-4"> Diversity and Sustainability Questions </h4>
    <div class="accordion" id="faqs-accordion">
      {{ $i := 0 }} 
      {{ range $.Site.Data.diversity }} 
      {{ $i = add $i 1 }} 
      {{ partial "faq.html" (dict "ctx" . "i" $i) }} 
      {{ end }}
    </div>
    <h4 class="fw-bold mb-0 py-4" id="accessibility"> Accessibility Information</h4>
    <ol>
    <li>
      <p>
          We are dedicated to making Girton Spring Ball 2024 as accessible as possible! We are engaging with the Cambridge SU Disabled Student’s Campaign’s Access-a-Ball scheme again this year, and strive to maintain our platinum award this year.  A full access statement, which contains detailed information on different access needs, will be available on this page soon.  We will be providing:
      </p>
    </li>
    <li>
      <p>
       Step-free/wheelchair access to all areas of the ball
      </p>
    </li>
    <li>
      <p>
        Wheelchair accessible, priority access, and non-gendered toilets
      </p>
    </li>
    <li>
      <p>
       Seating available in all areas of the ball, including the Marquee in Woodlands Court
      </p>
    </li>
    <li>
      <p>
        Menu options to cater to dietary requirements
      </p>
    </li>
    <li>
      <p>
       There will be a designated quiet space.
      </p>
    </li>
    <li>
      <p>
        A hearing loop available in all public rooms of the Ball
      </p>
    </li>
    <li>
      <p>
        If you have any concerns or require support in advance of, or on the night of the Ball, please speak to any member of staff or committee, or email  <a href="mailto:gsb24accessibility@gmail.com">gsb24accessibility@gmail.com</a>
      </p>
    </ol>
  </div>
</section>

{{ end }}
