{{ define "main" }}
<section class="container px-4 py-4" style="max-width: 90ch">
  <div class="centered-header pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-bold funky" id="faqs" > FAQs </h1>
  </div>
  <div class="container px-4">
    <h4 class="fw-bold mb-0 py-4"> General Questions </h4>
    <div class="accordion" id="faqs-accordion">
      {{ $i := 0 }} 
      {{ range $.Site.Data.general }} 
      {{ $i = add $i 1 }} 
      {{ partial "faq.html" (dict "ctx" . "i" $i) }} 
      {{ end }}
    </div>
    <h4 class="fw-bold mb-0 py-4"> Accessibility Questions </h4>
    <div class="accordion" id="faqs-accordion">
      {{ $i := 0 }} 
      {{ range $.Site.Data.access }} 
      {{ $i = add $i 1 }} 
      {{ partial "faq.html" (dict "ctx" . "i" $i) }} 
      {{ end }}
    </div>
    <h4 class="fw-bold mb-0 py-4"> Diversity and Sustainability Questions </h4>
    <div class="accordion" id="faqs-accordion">
      {{ $i := 0 }} 
      {{ range $.Site.Data.diversity }} 
      {{ $i = add $i 1 }} 
      {{ partial "faq.html" (dict "ctx" . "i" $i) }} 
      {{ end }}
    </div>
    <h4 class="fw-bold mb-0 py-4" id="accessibility"> Accessibility Information</h4>

    <p>
        We are dedicated to making Girton Spring Ball 2025 as accessible as possible! We are engaging with the Cambridge SU Disabled Student’s Campaign’s Access-a-Ball scheme again this year, and strive to maintain our platinum award.  A full access statement, which contains detailed information on different access needs, will be available on this page soon.  We will be providing:
    </p>
    <ul>
    <li>
      <p>
       Step-free/wheelchair access to all areas of the ball
      </p>
    </li>
    <li>
      <p>
        Wheelchair accessible, priority access, and non-gendered toilets
      </p>
    </li>
    <li>
      <p>
       Seating available in all areas of the ball, including the Marquee in Woodlands Court
      </p>
    </li>
    <li>
      <p>
        Menu options to cater to dietary requirements
      </p>
    </li>
    <li>
      <p>
       A designated quiet space.
      </p>
    </li>
    <li>
      <p>
        A hearing loop available in all public rooms of the Ball
      </p>
    </li>
    <li>
      <p>
        If you have any concerns or require support in advance of, or on the night of the Ball, please speak to any member of staff or committee, or email  <a href="mailto:gsb25accessibility@gmail.com">gsb25accessibility@gmail.com</a>
      </p>
    </ul>
    <ul>
      <li>
        <p>Website and social media content should meet WCAG AA standards IT</p>
      </li>
      <li>
        <p>Website structure works with assistive technology IT</p>
      </li>
      <li>
        <p>Website and social media can be accessed on different devices and in different orientations IT/publicity</p>
      </li>
      <li>
        <p>Audio and video do not auto play, can be paused and mutes IT</p>
      </li>
      <li>
        <p>Website is navigable by keyboard IT</p>
      </li>
      <li>
        <p>Colour contrast on the website is good for both text and non-text features IT/graphics</p>
      </li>
      <li>
        <p>Information about accessibility and dedicated contact are easy to find on the website and social media IT/publicity/D&S</p>
      </li>
      <li>
        <p>Ticket purchase form solicits information about accessibility needs and states this info will be kept private exec/IT/D&S</p>
      </li>
      
    </ul>
  </div>
</section>

{{ end }}
