{{ define "main" }}
<div class="centered-header pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-bold funky">Terms of Service</h1>
</div>
<section class="container px-4 py-4" style="max-width: 90ch">
  <p>
    As a user of this site, you agree not to use the Site for any purpose other
    than that for which we make it available. You may not (for example):
  </p>
  <ul>
    <li>
      systematically retrieve data from the Site to create or compile, directly
      or indirectly, a collection, database, or directory without written
      permission from us.
    </li>
    <li>
      circumvent, disable, or otherwise interfere with security-related features
      of the Site
    </li>
    <li>
      trick, defraud, or mislead us and/or other users, especially in any
      attempt to learn sensitive account information such as user passwords;
    </li>
    <li>
      interfere with, disrupt, or create an undue burden on the Site or the
      networks or services connected to the Site.
    </li>
    <li>
      disparage, tarnish, or otherwise harm, in our opinion, us and/or the Site.
    </li>
    <li>use the Site in a manner inconsistent with UK law.</li>
  </ul>
  <p>
    The list provided is not exhaustive. We reserve the right to determine if
    any action, on or interfering with the site, is not consistent with the
    purposes and intended use of the site and therefore infringes our terms of
    service.
  </p>
</section>
<div class="centered-header pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-bold funky">Privacy Policy</h1>
</div>
<section class="container px-4 py-4" style="max-width: 90ch">
  <p>
    We collect basic usage information from the site, in the form of logs from
    all visitors. For Raven/guest account holders, we collect data which
    includes:
  </p>
  <ul>
    <li>names, email and dates of birth associated with each attendee</li>
    <li>tickets they have applied for</li>
    <li>responses to any questions</li>
  </ul>

  <p>
    We will not disclose any information collected during your use of the site
    to a third party unless:
  </p>
  <ul>
    <li>Specifically authorized by you; or</li>
    <li>
      Necessary to perform the functions requested by you (and only to the
      extent absolutely necessary to perform the function); or
    </li>
    <li>Required to check for fraud or other misuse of resources; or</li>
    <li>Required by UK law.</li>
  </ul>
</section>


{{ end }}
