{{ define "main" }}
<div class="centered-header pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-bold funky">Terms of Service</h1>
</div>
<section class="container px-4 py-4" style="max-width: 90ch">
  <p>
    As a user of this site, you agree not to use the Site for any purpose other
    than that for which we make it available. You may not (for example):
  </p>
  <ul>
    <li>
      systematically retrieve data from the Site to create or compile, directly
      or indirectly, a collection, database, or directory without written
      permission from us.
    </li>
    <li>
      circumvent, disable, or otherwise interfere with security-related features
      of the Site
    </li>
    <li>
      trick, defraud, or mislead us and/or other users, especially in any
      attempt to learn sensitive account information such as user passwords;
    </li>
    <li>
      interfere with, disrupt, or create an undue burden on the Site or the
      networks or services connected to the Site.
    </li>
    <li>
      disparage, tarnish, or otherwise harm, in our opinion, us and/or the Site.
    </li>
    <li>use the Site in a manner inconsistent with UK law.</li>
  </ul>
  <p>
    The list provided is not exhaustive. We reserve the right to determine if
    any action, on or interfering with the site, is not consistent with the
    purposes and intended use of the site and therefore infringes our terms of
    service.
  </p>
</section>
<div class="centered-header pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-bold funky">Privacy Policy</h1>
</div>
<section class="container px-4 py-4" style="max-width: 90ch">
  <h2>Introduction</h2>
  <p>
    This statement explains how the Girton College Spring Ball 2023 Committee
    ("GSB 2023", "GSB", "we", "our" or "us") collects and handles personal data
    about you as a user of our ticketing platform and our reasons for doing so.
  </p>
  <p>
    The latest version of this statement can be found on our website at&nbsp;<a
      href="https://www.ticketing.girtonball.com/privacy"
      >ticketing.girtonball.com/privacy</a
    >
    . The GSB 2023 committee is the data controller for data held under this
    privacy statement. The GSB 2023 IT &amp; Ticketing Officers are the
    designated data protection contact, and are in charge of data protection
    matters. They can be contacted at it@girtonball.com
  </p>
  <h2>Definitions</h2>
  <p>
    "Personal data" or "personal information" means information relating to you
    that can be used in some way to identify you, either on its own or in
    combination with other such information available to its holder.
  </p>
  <p>
    "Processing" of personal data is any action taken on that data, such as
    storage, retrieval, organisation, transmission or erasure, and/or as defined
    by relevant legislation.
  </p>
  <p>"University" means the University of Cambridge.</p>
  <p>
    A "CRSid" is a unique identifier issued to a person by the University.
    According to the University, CRSids are never reissued, so we assume that a
    CRSid will uniquely identify the same person forever. Usernames on our
    computer systems are also assigned to match a person&rsquo;s CRSid.
  </p>
  <h2>The bases on which we process personal data</h2>
  <p>
    The GSB 2023 committee usually processes attendees&rsquo; personal data on
    the basis that it is a legitimate interest of the platform and the Ball.
    Where we process your personal information for a purpose falling outside
    those listed in this statement or our other privacy statements (if
    applicable to you), we will seek your explicit consent before doing so.
  </p>
  <h2>How attendees&rsquo; personal data is used by the GSB 2023 committee</h2>
  <p>
    The GSB 2023 committee collects and processes members&rsquo; personal data
    for a number of purposes, including:
  </p>
  <ul>
    <li>
      Maintaining accurate ticket records (comprising full name, CRSid,
      registered contact email address, join date, last login date, ticket
      details, responses to custom ticket questions);
    </li>
    <li>
      Keeping records of communications made to or from the GSB 2023 executive,
      the IT &amp; Ticketing officers and any members of its committee;
    </li>
    <li>
      Maintaining historical records to enable us to research and analyse our
      own activities over time;
    </li>
    <li>Keeping logs relating to security incidents.</li>
  </ul>
  <p>
    All of the above activities are carried out as a legitimate interest of the
    Ball.
  </p>
  <p>
    Please get in touch with the designated data protection contact if you have
    concerns or queries about any of these stated purposes.
  </p>
  <h2>How we obtain and share your personal data</h2>
  <p>
    We primarily obtain your personal data through you providing it to us, for
    example when you sign up to the platform to purchase a ticket. However, this
    initial signup process also involves automatic retrieval of information
    available to any computer on the University network. Our systems look up
    this information using your CRSid, which is provided to us by the
    University&apos;s Raven service, which itself is used to authenticate to our
    platform. When signing up, you will have a chance to correct and amend any
    or all of this automatically-obtained information.
  </p>
  <p>
    Your personal data is not usually shared outside the GSB 2023 committee and
    its members. However, the GSB 2023 committee may otherwise be required to
    share (with or without your consent) your personal data with the University,
    or become subject to a legal requirement to share it with a third party.
    Where possible in either situation, we will notify you in advance of our
    intention to do so, but this may sometimes be prohibited, for example by law
    or an injunction.
  </p>
  <h2>How we store your personal information</h2>
  <p>
    Your information is securely stored in a datacenter managed by our hosting
    provider. Additionally, all transactions involving the sharing of your
    personal data are carried out over secure networks (as far as is technically
    possible on our end). We retain your personal information for 3 months after
    the date of the Ball, which is March 17th 2023. After this, the only data we
    hold about you will be anonymized and turned into numerical data for future
    statistical analysis. Any identifiable information will be disposed of.
  </p>
  <h2>Your rights</h2>
  <p>You have the right to ask for:</p>
  <ul>
    <li>access to your personal information;</li>
    <li>the correction of any errors in your personal information;</li>
    <li>the erasure of your personal information;</li>
    <li>
      restriction on processing of your personal information pending correction
      or erasure; and
    </li>
    <li>
      the transfer of your personal information to a third party by electronic
      means.
    </li>
  </ul>
  <p>
    Some of these rights are not automatic, and we reserve the right to discuss
    with you why we might not comply with a request from you to exercise them.
  </p>
  <p>
    If you have any questions or concerns about your personal information,
    please get in touch with the designated data protection contact listed at
    the top of this document. Please note that in dealing with your request, we
    may also need to share details of your request with entities with whom we
    have shared your personal data.
  </p>
  <p>
    If you remain unhappy with the way your information is being handled, or
    with the response received from us, you have the right to lodge a complaint
    with the Information Commissioner&apos;s Office at Wycliffe House, Water
    Lane, Wilmslow, SK9 5AF or online at<a href="https://ico.org.uk/"
      >&nbsp;https://ico.org.uk/</a
    >.
  </p>
</section>

{{ end }}
