{{ define "main" }}
<div class="centered-header pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-bold funky">Terms and Conditions</h1>
</div>
<section class="container px-4 py-4" style="max-width: 90ch">
<h4 class="fw-bold mb-0 py-4">I: General</h4>
<ol>
    <li>
        <p>This document lays out the Terms and Conditions for the purchase of tickets to the Girton Spring Ball 2023 (hereinafter referred to as &ldquo;the Ball&rdquo;). The Ball taking place on Friday 17th March and Saturday 18th March 2023 will be subject to the conditions laid out below.</p>
    </li>
    <li>
        <p>This agreement is between the principal ticket purchaser (hereinafter referred to as the &ldquo;ticket applicant&rdquo; until the application is successful and the &ldquo;ticket holder&rdquo; thereafter) and the Girton Spring Ball 2023 Committee (hereinafter referred to as &ldquo;the Committee&rdquo;), who run the Ball on behalf of Girton College.</p>
    </li>
    <li>
        <p>If the ticket applicant is purchasing tickets for guests as well as themselves, then the ticket applicant also submits to this agreement on behalf of all guests on their application. If the ticket applicant&rsquo;s application is successful, the ticket applicant&rsquo;s guests will then constitute ticket holders. It is the responsibility of the ticket applicant to bring these terms and conditions to the attention of their guests prior to the submission of an application.</p>
    </li>
    <li>
        <p>In this document, unless the context otherwise requires, the headings are inserted for convenience only and shall not affect the interpretation of this agreement.</p>
    </li>
    <li>
        <p>In this document, unless the context otherwise requires,words in the singular include the plural and vice versa, and words in one gender include any other gender.</p>
    </li>
    <li>
        <p>Failure to adhere to these terms and conditions can lead to,amongst other things, an application being refused or voided, tickets being cancelled, entry to the Ball being refused, or the ticket holder being ejected from the Ball.</p>
    </li>
    <li>
        <p>In the event of any dispute, all decisions of the Committee are final.</p>
    </li>
</ol>
<h4 class="fw-bold mb-0 py-4">II: Eligibility for Ticket Purchase in Different Waves</h4>
<ol>
    <li>
        <p>In the first wave of ticket sales, the ticket applicant must be a current member of Girton College, including: undergraduates, postgraduates, Fellows, and staff. The applicant can buy 1 ticket for themselves. This will be placed on your Lent Term College Bill.</p>
    </li>
    <li>
        <p>In the second wave of ticket sales, the ticket applicant must be:</p>
        <ol>
            <li>
                <p>a current member of Girton College&nbsp;</p>
            </li>
            <li>
                <p>buying up to a maximum of 2 guest tickets for non-Girton College members.&nbsp;</p>
            </li>
        </ol>
    </li>
    <li>
        <p>You need to have already bought a ticket for yourself in order for the Guest/s to attend the Ball. This will be placed on your Lent Term College Bill.</p>
    </li>
    <li>
        <p>In the third wave of ticket sales, the ticket applicant must be a Girton College alumnus/a. The ticket applicant can buy 1 ticket for themselves and one guest ticket. These tickets can be unlocked using a code distributed by the Girton College Development Office via email. Payment will be made via bank transfer and the bank details are available on the ticketing platform.</p>
    </li>
</ol>
<h4 class="fw-bold mb-0 py-4">III: Ticket Types and Costs</h4>
<ol>
    <li>
        <p>Two ticket types are available: Standard and Queue Jump. Other than the differences laid out below, all of these ticket types are subject to these terms and conditions.</p>
    </li>
    <li>
        <p>Ticket holders will be provided with a digital ticket prior to the Ball.</p>
    </li>
    <li>
        <p>All ticket types only allow entry into the Ball site exclusively between 9pm and 5am on Friday 17th March 2023, unless stated otherwise.</p>
    </li>
    <li>
        <p>Ticket applicants can purchase a ticket for themselves and their guests, as outlined above.</p>
    </li>
    <li>
        <p>Current Girton Member Bursary tickets cost £100 per person including tax and entitles ticket holders to enter the Ball after 9pm. Bursary ticket holders must be current Girton Members, including undergraduate and postgraduate students. Bursary ticket holders further must be: </p>
        <ul>
          <li>Cambridge Bursary Scheme recipients, including students on Enhanced Awards, Foundation Year and recipients of an Education Premium</li>
          <li>Student applicants for Hardship/Participation funding in Michaelmas 2022</li>
        </ul>
        <p>
        If this does not apply for a ticket applicant, but they feel as though they should qualify and have had conversations relating to financial hardship with a tutor, please contact <a href="mailto:tutorial@girton.ac.uk">tutorial@girton.ac.uk</a> where your request will be dealt with confidentiality within the week.
        </p>
    </li>
    <li>
        <p>Current Girton Member Standard tickets cost &pound;135 per person including tax and entitles ticket holders to enter the Ball after 9pm.</p>
    </li>
    <li>
        <p>Current Girton Member Queue Jump tickets cost &pound;145 per person including tax and entitles ticket holders to enter the Ball after 9pm, with priority over standard ticket holders.</p>
    </li>
    <li>
        <p>Guest Standard tickets cost &pound;150 including tax per person and entitles ticket holders to enter the Ball after 9pm.</p>
    </li>
    <li>
        <p>Guest Queue Jump tickets cost &pound;155 per person including tax and entitles ticket holders to enter the Ball after 9pm, with priority over standard ticket holders.</p>
    </li>
    <li>
        <p>Alumni Standard tickets cost &pound;135 per person including tax and alumni are welcome to make an optional &pound;15 contribution to the Ball. This entitles ticket holders to enter the Ball after 9pm.</p>
    </li>
    <li>
        <p>Alumni Queue Jump tickets cost &pound;145 per person including tax and alumni are welcome to make an optional &pound;15 contribution to the Ball. This entitles ticket holders to enter the Ball after 9pm, with priority over standard ticket holders.</p>
    </li>
</ol>
<h4 class="fw-bold mb-0 py-4">IV: Ticket Application</h4>
<ol>
    <li>
        <p>Tickets will be on sale via a bespoke platform created by the 2023 IT &amp; Ticketing Officers.</p>
    </li>
    <li>
        <p>Ticket discounts or discounted upgrades may be extended at the discretion of the Presidents.</p>
    </li>
    <li>
        <p>A ticket application containing incorrect or misleading details will be automatically void. Such an application may be amended at the discretion of the Presidents.</p>
    </li>
    <li>
        <p>Tickets can be applied for via the Ticketing Platform made available on the Girton Spring Ball 2023 website.</p>
    </li>
    <li>
        <p>The first wave of tickets will be available to buy on Thursday 17th November 2022 at 7pm.</p>
    </li>
    <li>
        <p>The second wave of tickets will be available to buy on Thursday 24th November 2022 at 7pm.</p>
    </li>
    <li>
        <p>The third wave of tickets will be available to buy on Saturday 26th November 2022 at 7pm.</p>
    </li>
    <li>
        <p>Girton College Alumni will receive an email from the Girton College Development Office outlining the process that must be followed in order to purchase a ticket for the Ball.</p>
    </li>
</ol>
<h4 class="fw-bold mb-0 py-4">VI: Ticket Payment</h4>
<ol>
    <li>
        <p>The contract between the Committee and the ticket applicant is only complete after the ticket applicant&rsquo;s payment has been confirmed. The ticket applicant will receive a confirmation by email once this is the case.</p>
    </li>
    <li>
        <p>Ticket applicants purchasing tickets via the Committee directly will receive an email confirming the application from the Committee as soon as possible.</p>
    </li>
    <li>
        <p>For members of Girton College, the total value of tickets purchased by each member will be added to their Lent Term college bill.</p>
    </li>
    <li>
        <p>Any other matters relating to ticket purchases will be dealt with at the discretion of the Ticketing Officers and the Presidents.</p>
    </li>
</ol>
<h4 class="fw-bold mb-0 py-4">VII: Ticket Transfers and Refunds</h4>
<ol>
    <li>
        <p>Tickets are not re-sellable and non-refundable.</p>
    </li>
    <li>
        <p>Tickets should be purchased on the clear understanding that the Ball may be cancelled at the discretion of the Girton College Council (for reasons including, but not limited to, COVID transmission risk or if the date of the ball falls within a period of National mourning) at any time up until the start of the Ball. In the event of cancellation, the ticket price is non-refundable, save that leftover income generated from ticket sales and the sum of any costs incurred which are recoverable by the Ball Committee will be disbursed&nbsp;pro rata&nbsp;to ticket holders. In the event of cancellation, no surplus will be retained by the Ball Committee.</p>
    </li>
    <li>
        <p>Name changes are subject to a &pound;15 administration fee, up to one week before the date of the ball. These can be arranged by getting in contact with the Committee (it@girtonball.com).</p>
    </li>
</ol>
<h4 class="fw-bold mb-0 py-4">VIII: Special Requirements</h4>
<ol>
    <li>
        <p>The ticket applicant is responsible for informing the Accessibility Lead, details to be found on our website, of any special requirements, such as the need for disabled access, for themselves and for all of their guests.</p>
    </li>
    <li>
        <p>The Accessibility Lead must be informed of the relevant medical conditions of the ticket applicant and of all of their guests before 17th January 2023.</p>
    </li>
</ol>
<h4 class="fw-bold mb-0 py-4">IX: Dress Code</h4>
<ol>
    <li>
        <p>The only acceptable attire is Black Tie, Military Blues or National Dress. Sports blazers are not allowed.&nbsp;</p>
    </li>
    <li>
        <p>The Committee reserves the right to refuse admission to the Ball to anyone who they deem to be not suitably attired.</p>
    </li>
</ol>
<h4 class="fw-bold mb-0 py-4">X: Admission to the Ball</h4>
<ol>
    <li>
        <p>The last entry to the Ball is at 23:00 on Friday 17th March 2023.</p>
    </li>
    <li>
        <p>All ticket holders must be at least 18 years of age on Friday 17th March 2023 or admission to the Ball will be refused.</p>
    </li>
    <li>
        <p>Before admission to the Ball is allowed, ticket holders must present their valid ticket, along with photographic identification consistent with the name their ticket is booked under. The only acceptable forms of photographic identification are a driving licence, passport or Biometric Residence Permit (BRP). Ticket holders without a valid ticket and piece of photographic identification will not be admitted to the Ball. University cards are not acceptable identification for admission to the Ball.</p>
    </li>
</ol>
<h4 class="fw-bold mb-0 py-4">XI: Safety and Security</h4>
<p>1. The Committee reserves the right to eject any person from the Ball and to take whatever further action they deem appropriate. Grounds for such exclusion include, but are not limited to: violent, loud, indecent, illegal or immoral behaviour, excessive intoxication, possession of illegal drugs or any other breach of these terms and conditions. A further ground for ejection is where the Committee and/or its duly authorised representatives have reasonable grounds to believe that a ticket holder may have committed or may be about to commit a criminal offence or has engaged or is engaging in other such activities that the Committee deems to be unacceptable.</p>
<ol>
    <li>
        <p>The Committee accepts no liability for lost, damaged or stolen belongings of ticket holders or for financial compensation to the ticket holder if they are removed from the Ball or denied entry to the Ball.</p>
    </li>
    <li>
        <p>There will be cloakroom facilities at the Ball for ticket holders. The committee accepts no responsibility for any loss, theft or damage to any personal property of ticket holders left within the cloakroom.</p>
    </li>
    <li>
        <p>The Committee reserves the right to photograph, film and record CCTV footage of the Ball site, its immediate surroundings, the grounds of Girton College, and those persons entering, present in and leaving it.</p>
    </li>
    <li>
        <p>The Committee reserves the right to conduct searches of ticket holders and/or their property to verify any reasonable belief that the terms and conditions laid out in this document are not being adhered to.</p>
    </li>
    <li>
        <p>Illegal substances and weapons must be deposited into the amnesty boxes at the Ball entrance.</p>
    </li>
    <li>
        <p>Ticket holders must wear their wristband throughout the duration of the Ball and must present it to any member of the Committee or any person employed in administering and supervising the Ball who requests them to do so. Any person found present within the Ball site without a wristband at any time during the Ball may be ejected from the Ball.</p>
    </li>
    <li>
        <p>Unauthorised access to the Ball website is prohibited and constitutes a criminal offence under the Computer Misuse Act 1990.</p>
    </li>
    <li>
        <p>Any attempt to obtain tickets by deception or fraud may result in prosecution.</p>
    </li>
    <li>
        <p>Any ticket holder found to aid the entrance of non-ticket holders or planning to aid the entrance of non-ticket holders, shall be expelled and prosecution for deception, fraud, property damage, offences against the person/land, and theft will be considered.</p>
    </li>
</ol>
<h4 class="fw-bold mb-0 py-4">XII: Data Protection</h4>
<ol>
    <li>
        <p>By submitting an application for tickets, the ticket applicant agrees to have their details stored electronically. The details will not be passed on to any third party unless required by English law and shall remain confidential. A register of Ball attendees&rsquo; names may be passed to security contractors for event safety and security. For the purposes of legal defence, data will be stored for 15 years after the Ball and then destroyed.</p>
    </li>
    <li>
        <p>All information submitted with respect to the Bursary ticket will be handled directly by the Tutorial Office. None of the information provided will be available freely to the Committee, and is subject to the same protection requirements under XII(1).&nbsp;</p>
    </li>
    <li>
        <p>The Committee reserves the right to take photographs and video footage of the event for promotional and/or legal purposes.</p>
    </li>
    <li>
        <p>The taking of photographs and/or video/tape recordings for recreational and/or personal purposes is allowed, however, recordings for all other purposes are absolutely prohibited. Persons considered by the Committee to be making prohibited recordings may be asked to refrain from doing so and, upon refusal, may be ejected from the Ball. In such circumstances, no refund will be given. Notwithstanding the terms of this section, the Committee reserves the right to prevent ticket holders from taking photographs and video/tape recordings even for personal use if this is deemed necessary for legal/contractual purposes by the Committee. This request would be made clear to ticket holders on the night of the Ball. If such a request is made and is not adhered to by a ticket holder, the provisions of this document relating to expulsion will apply.</p>
    </li>
</ol>
<h4 class="fw-bold mb-0 py-4">XIII: Cancellation</h4>
<p>1. The Committee reserves the right to cancel the Ball at its discretion at any time. In the event that the Ball is cancelled, the Committee will not pay reparations to ticket holders that are not recoverable by the Committee.</p>
<h4 class="fw-bold mb-0 py-4">XIV: Miscellaneous</h4>
<ol>
    <li>
        <p>Any person who is not a party to the contract of sale shall have no right under the Contract (Right of Third Parties) Act 1999 to enforce or enjoy the benefit of any of its terms.</p>
    </li>
    <li>
        <p>English law shall govern the contract of sale.</p>
    </li>
    <li>
        <p>The Committee reserves the right to alter the programme and menu of the Ball without notice.</p>
    </li>
    <li>
        <p>The Committee reserves the right at any time until the commencement of the Ball to amend, add or replace any of these terms and conditions.</p>
    </li>
    <li>
        <p>The Committee expects ticket holders to conduct themselves with due care throughout the Ball.</p>
    </li>
    <li>
        <p>The Committee does not in any way condone excessive alcohol consumption, tort or criminal behaviour and hereby gives notice of the risks inherent in careless participation at the Ball. The Committee does not accept liability for damage to property, injury to person or death resulting from such actions. By agreeing to these terms, the participant acknowledges receipt of this notice.</p>
    </li>
    <li>
        <p>The Committee accepts no liability to a ticket holder if they are ejected from the Ball.</p>
    </li>
    <li>
        <p>Ticket holders are reminded that smoking at the Ball is only permitted in designated outdoor areas, and this does not include marquees or other covered spaces.</p>
    </li>
    <li>
        <p>The Committee reserves the right to distribute short messages from their sponsors in the course of their communication with ticket applicants and ticket holders. By submitting a ticket application, the ticket applicant consents to receive such communication both for themselves and for all of their guests. Ticket applicants or ticket holders may choose to stop receiving these messages at any time by emailing the Ticketing Officers (it@girtonball.com) with &ldquo;unsubscribe&rdquo; in the subject line.</p>
    </li>
    <li>
      <p>Queries relating to ticketing should be made either by post to Girton Spring Ball Committee, Girton College, Huntingdon Road, Cambridge, CB3 0JG or by e-mail to the Ticketing Officers (it@girtonball.com).</p>
    </li>
</ol>
</section>
<div class="centered-header pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-bold funky">Terms of Service</h1>
</div>
<section class="container px-4 py-4" style="max-width: 90ch">
  <p>
    As a user of this site, you agree not to use the Site for any purpose other
    than that for which we make it available. You may not (for example):
  </p>
  <ul>
    <li>
      systematically retrieve data from the Site to create or compile, directly
      or indirectly, a collection, database, or directory without written
      permission from us.
    </li>
    <li>
      circumvent, disable, or otherwise interfere with security-related features
      of the Site
    </li>
    <li>
      trick, defraud, or mislead us and/or other users, especially in any
      attempt to learn sensitive account information such as user passwords;
    </li>
    <li>
      interfere with, disrupt, or create an undue burden on the Site or the
      networks or services connected to the Site.
    </li>
    <li>
      disparage, tarnish, or otherwise harm, in our opinion, us and/or the Site.
    </li>
    <li>use the Site in a manner inconsistent with UK law.</li>
  </ul>
  <p>
    The list provided is not exhaustive. We reserve the right to determine if
    any action, on or interfering with the site, is not consistent with the
    purposes and intended use of the site and therefore infringes our terms of
    service.
  </p>
</section>
<div class="centered-header pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-bold funky">Privacy Policy</h1>
</div>
<section class="container px-4 py-4" style="max-width: 90ch">
  <h4 class="fw-bold mb-0 py-4">Introduction</h4>
  <p>
    This statement explains how the Girton College Spring Ball 2023 Committee
    ("GSB 2023", "GSB", "we", "our" or "us") collects and handles personal data
    about you as a user of our ticketing platform and our reasons for doing so.
  </p>
  <p>
    The latest version of this statement can be found on our website at&nbsp;<a
      href="https://www.ticketing.girtonball.com/privacy"
      >ticketing.girtonball.com/privacy</a
    >
    . The GSB 2023 committee is the data controller for data held under this
    privacy statement. The GSB 2023 IT &amp; Ticketing Officers are the
    designated data protection contact, and are in charge of data protection
    matters. They can be contacted at it@girtonball.com
  </p>
  <h4 class="fw-bold mb-0 py-4">Definitions</h4>
  <p>
    "Personal data" or "personal information" means information relating to you
    that can be used in some way to identify you, either on its own or in
    combination with other such information available to its holder.
  </p>
  <p>
    "Processing" of personal data is any action taken on that data, such as
    storage, retrieval, organisation, transmission or erasure, and/or as defined
    by relevant legislation.
  </p>
  <p>"University" means the University of Cambridge.</p>
  <p>
    A "CRSid" is a unique identifier issued to a person by the University.
    According to the University, CRSids are never reissued, so we assume that a
    CRSid will uniquely identify the same person forever. Usernames on our
    computer systems are also assigned to match a person&rsquo;s CRSid.
  </p>
  <h4 class="fw-bold mb-0 py-4">The bases on which we process personal data</h4>
  <p>
    The GSB 2023 committee usually processes attendees&rsquo; personal data on
    the basis that it is a legitimate interest of the platform and the Ball.
    Where we process your personal information for a purpose falling outside
    those listed in this statement or our other privacy statements (if
    applicable to you), we will seek your explicit consent before doing so.
  </p>
  <h4 class="fw-bold mb-0 py-4">How attendees&rsquo; personal data is used by the GSB 2023 committee</h4>
  <p>
    The GSB 2023 committee collects and processes members&rsquo; personal data
    for a number of purposes, including:
  </p>
  <ul>
    <li>
      Maintaining accurate ticket records (comprising full name, CRSid,
      registered contact email address, join date, last login date, ticket
      details, responses to custom ticket questions);
    </li>
    <li>
      Keeping records of communications made to or from the GSB 2023 executive,
      the IT &amp; Ticketing officers and any members of its committee;
    </li>
    <li>
      Maintaining historical records to enable us to research and analyse our
      own activities over time;
    </li>
    <li>Keeping logs relating to security incidents.</li>
  </ul>
  <p>
    All of the above activities are carried out as a legitimate interest of the
    Ball.
  </p>
  <p>
    Please get in touch with the designated data protection contact if you have
    concerns or queries about any of these stated purposes.
  </p>
  <h4 class="fw-bold mb-0 py-4">How we obtain and share your personal data</h4>
  <p>
    We primarily obtain your personal data through you providing it to us, for
    example when you sign up to the platform to purchase a ticket. However, this
    initial signup process also involves automatic retrieval of information
    available to any computer on the University network. Our systems look up
    this information using your CRSid, which is provided to us by the
    University&apos;s Raven service, which itself is used to authenticate to our
    platform. When signing up, you will have a chance to correct and amend any
    or all of this automatically-obtained information.
  </p>
  <p>
    Your personal data is not usually shared outside the GSB 2023 committee and
    its members. However, the GSB 2023 committee may otherwise be required to
    share (with or without your consent) your personal data with the University,
    or become subject to a legal requirement to share it with a third party.
    Where possible in either situation, we will notify you in advance of our
    intention to do so, but this may sometimes be prohibited, for example by law
    or an injunction.
  </p>
  <h4 class="fw-bold mb-0 py-4">How we store your personal information</h4>
  <p>
    Your information is securely stored in a datacenter managed by our hosting
    provider. Additionally, all transactions involving the sharing of your
    personal data are carried out over secure networks (as far as is technically
    possible on our end). We retain your personal information for 3 months after
    the date of the Ball, which is March 17th 2023. After this, the only data we
    hold about you will be anonymized and turned into numerical data for future
    statistical analysis. Any identifiable information will be disposed of.
  </p>
  <h4 class="fw-bold mb-0 py-4">Your rights</h4>
  <p>You have the right to ask for:</p>
  <ul>
    <li>access to your personal information;</li>
    <li>the correction of any errors in your personal information;</li>
    <li>the erasure of your personal information;</li>
    <li>
      restriction on processing of your personal information pending correction
      or erasure; and
    </li>
    <li>
      the transfer of your personal information to a third party by electronic
      means.
    </li>
  </ul>
  <p>
    Some of these rights are not automatic, and we reserve the right to discuss
    with you why we might not comply with a request from you to exercise them.
  </p>
  <p>
    If you have any questions or concerns about your personal information,
    please get in touch with the designated data protection contact listed at
    the top of this document. Please note that in dealing with your request, we
    may also need to share details of your request with entities with whom we
    have shared your personal data.
  </p>
  <p>
    If you remain unhappy with the way your information is being handled, or
    with the response received from us, you have the right to lodge a complaint
    with the Information Commissioner&apos;s Office at Wycliffe House, Water
    Lane, Wilmslow, SK9 5AF or online at<a href="https://ico.org.uk/"
      >&nbsp;https://ico.org.uk/</a
    >.
  </p>
</section>

{{ end }}
