<div class="col d-flex align-items-center">
  <div class="text-center w-100 ">
    <div class="w-50 mx-auto p-3">
      {{ if (fileExists (printf "static/images/committee/%s" .ctx.img)) }}
        <img src="/images/committee/{{ .ctx.img }}" class="img-thumbnail rounded-circle w-40"  alt="Photo of {{ .ctx.name }}">
      {{ else }}
        <img src="/images/committee/Blank.png" class="img-thumbnail rounded-circle w-40"  alt="Missing Photo">
      {{ end }}
    </div>
    <h4 class="fw-bold mb-0">
      <i class="bi {{ .ctx.icon }}"></i> {{ .ctx.name }}
    </h4>
    <p>
      {{ .ctx.position }}
    </p>
    <p>
      {{ .ctx.email }}
    </p>
  </div>
</div>
