<div
  style="
    background: url('/images/logo-with-background-24.png') no-repeat;
    background-position: bottom;
    background-size: cover;
  "
>
  <div class="container">
    <header
      class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
      style="color: white"
    >
      <a href="/" class="d-flex mb-3 p-1 mb-md-0 me-md-auto">
        <img src="/images/gsb.svg" id="title" alt="Girton Spring Ball 2023!" />
      </a>

      <ul class="nav nav-pills" style="margin-top: auto; margin-bottom: auto">
        <li class="nav-item">
          <a href="/legal" class="nav-link" style="color: white"
            ><i class="bi bi-shield"></i> Legal</a
          >
        </li>
        <li class="nav-item">
          <a href="/faqs" class="nav-link" style="color: white"
            ><i class="bi bi-chat-left-text"></i> FAQs</a
          >
        </li>
        <li class="nav-item">
          <a href="/committee" class="nav-link" style="color: white"
            ><i class="bi bi-people"></i> Committee</a
          >
        </li>
      </ul>
    </header>
  </div>
</div>
<div style="height: 2em"></div>
