<div
  style="
    background: url('/images/banner.svg') no-repeat;
    background-position: center;
    background-size: cover;
  "
>
  <div class="container">
    <header
      class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
      style="color: white"
    >
      <a href="/" class="d-flex mb-3 mb-md-0 me-md-auto">
        <img src="/images/gsb.svg" id="title" alt="Girton Spring Ball 2023!" />
      </a>

      <ul class="nav nav-pills" style="margin-top: auto; margin-bottom: auto">
        <li class="nav-item"><a href="#" class="nav-link" style="color: white;">About</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: white;">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link active">Tickets</a></li>
      </ul>
    </header>
  </div>
</div>