<!DOCTYPE html>
<html lang="en-US" class="h-100">
  {{- partial "head.html" . -}}
  <body
    class="text-center"
    style="
      background: url('/images/banner.svg') no-repeat;
      background-position: center;
      background-size: cover;
    "
  >
    <section
      style="padding-top: 45vh; color: rgb(238, 239, 240);"
    >
      <h1
        class="display-1 fw-bold"
        id="tickets"
        style="text-shadow: 3px 3px rgb(23, 43, 97)"
      >
        404 Not Found!
      </h1>
      <p>We couldn't find the page you were looking for :(</p>
    </section>
  </body>
  {{- partial "scripts.html" . -}}
</html>
