{{ define "main" }}
<section>
  <div class="container">
    <div class="centered-header pb-md-4 mx-auto text-center">
      <h4 class="fw-bold mb-0 py-1">
        The Girton Spring Ball committee presents...
      </h4>
      <h1 class="display-4 fw-bold funky animate__animated animate__slideInUp" >
      Some Enchanted Evening
      </h1>
    </div>
  </div>
  <div class="container-lg">
   <img src="poster-with-logo-24.png" class="img-fluid px-3 animate__zoomIn" alt="Launch Poster"> </img>
  </div>
</section>
<div style="height: 3rem"></div>
<section>
  <div class="centered-header pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-bold funky" id="info" >
      General Information
    </h1>
  </div>
  <div class="container px-4 py-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">
            <i class="bi bi-universal-access"></i> Accessibility
          </h4>
          <p>
            View our access statement
            <a href="/faqs/index.html#accessibility">here</a>.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">
            <i class="bi bi-person-vcard"></i> Don't forget your ID
          </h4>
          <p>
            Bring either your passport, driving licence or Biometric Residence Permit.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">
            <i class="bi bi-briefcase"></i> Cloak Room
          </h4>
          <p>
            There will be a free cloakroom - the location will be confirmed in due course!
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">
            <i class="bi bi-calendar-event"></i> Where and When?
          </h4>
          <p>
            Friday 15th March, from 9pm to 5am at Girton College.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">
            <i class="bi bi-map"></i> What's happening?
          </h4>
          <p>
            The programme for GSB 24 will be released in due course!
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">
            <i class="bi bi-card-checklist me-2"></i>Terms and Conditions
          </h4>
          <p>Read our full terms <a href="/legal/">here</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="pb-md-4 mx-auto text-center">
      <a href="https://ticketing.girtonspringball.com" class="btn btn-lg btn-primary">Buy Tickets Here!</a>
  </div>
</section>
{{ partial "spacer" . }}
<section class="container-lg">
    <div class="centered-header mx-auto text-center">
      <h1 class="display-4 fw-bold funky" id="video" >
        Last Year's Ball
      </h1>
    </div>
      <div class="embed-responsive embed-responsive-16by9 p-3 " >
        <video class="embed-responsive-item w-100" controls><source src="/video/gsb23.mp4" type="video/mp4">Your browser does not support this video</video>
      </div>

</section>
{{ partial "spacer" . }}
<section>
  <div class="centered-header pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-bold funky" id="tickets" >
      Ticket Types
    </h1>
  </div>
  <div class="container px-4 py-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-5" style="text-align: center;" id="ticketinfo">
      {{ $i := 0 }}
      {{ range $.Site.Data.ticketinfo }}
      {{ $i = add $i 1 }}
      {{ partial "ticket_type.html" (dict "ctx" . "i" $i) }}
      {{ end }}
    </div>
  </div>
</section>
{{ partial "spacer" . }}
<!-- TODO make these automatically generated from data -->
<section>
  <div class="centered-header pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-bold funky" id="timeline" >
      Timeline
    </h1>
  </div>
  <div class="container px-4 py-4">
    {{ $i := 0 }}
    {{ range $.Site.Data.timeline }}
    {{ $i = add $i 1 }}
    {{ partial "timeline_event.html" (dict "ctx" . "i" $i) }}
    {{ end }}
  </div>
</section>
{{ end }}
