{{ define "main" }}
<section>
  <div class="container">
  <div class="centered-header pb-md-4 mx-auto text-center">
    <h4 class="fw-bold mb-0">
      The Girton Spring Ball committee presents...
    </h4>
    <h1
      class="display-4 fw-bold funky animate__animated animate__slideInUp"
      id="tickets"
    >
    Beyond the Skies
    </h1>
  </div>
    <div class="p-3 pb-md-4 mx-auto text-center">
      <div class="ratio ratio-16x9">
        <iframe
          src="https://drive.google.com/file/d/1oLf3tbD9W8lRCu_bii-u04YJ7yoTovmO/preview"
          width="1280"
          height="720"
          allow="autoplay"
        ></iframe>
      </div>
    </div>
  </div>
</section>
<div style="height: 2rem"></div>
<div
  style="
    background: url('/images/banner.svg') no-repeat;
    background-position: center;
    background-size: cover;
  "
>
  <div style="height: 5vh"></div>
  <div
    class="image-block"
    style="
      background:url(/images/survivors.webp) no-repeat center fixed;
      background-size: cover;
      height: 40vh;
    "
  ></div>
  <div style="height: 5vh"></div>
</div>
<div style="height: 3rem"></div>
<section>
  <div class="centered-header pb-md-4 mx-auto text-center">
    <h1
      class="display-4 fw-bold funky"
      id="tickets"
    >
      Ticket Information
    </h1>
  </div>
  <div class="container px-4 py-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">
            <i class="bi bi-briefcase"></i> Alumni Release
          </h4>
          <p>
          Alumni tickets are released in conjunction with the development
          office. Tickets will be released on the 26th of November!
          </p>


        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">
            <i class="bi bi-ticket-detailed me-2"></i>First release
          </h4>
          <p>
            In the first wave, tickets will be sold to current members of
            Girton College. Tickets will be released on Thursday the 17nd of
            November at 7PM.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">
            <i class="bi-people me-2"></i>Guest tickets
          </h4>
          <p>
            Guest tickets will be made available in the second wave, and will
            have to be purchased via a member of Girton College.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0"><i class="bi-cash me-2"></i>Refunds</h4>
          <p>
            Tickets to the Spring Ball are non-refundable. Please read our full
            Terms and Conditions before buying.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">
            <i class="bi bi-card-checklist me-2"></i>Terms and Conditions
          </h4>
          <p>Read our full terms <a href="/legal/">here</a>.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h4 class="fw-bold mb-0">
            <i class="bi bi-question-circle-fill me-2"></i>More information
          </h4>
          <p>
            Any further queries can be directed to our IT and Ticketing officers
            at 
            <a href="mailto:it@girtonball.com">it@girtonball.com</a>
          </p>
        </div>
      </div>
    </div>
  </section>
<section>
    <div class="d-grid col-6 mx-auto">
      <a
        class="btn btn-primary btn-lg"
        style="background-color: rgb(23, 43, 97);"
        href="https://ticketing.girtonball.com"
        >Get your ticket!</a
      >
    </div>
  </div>
</section>
{{ partial "spacer" . }}
<section class="container" style="max-width: 90ch">
  <div class="centered-header mx-auto text-center">
    <h4 class="fw-bold mb-0">
      Find us on Social Media!
    </h4>
    <h2 class="fw-bold funky">
      <a href="https://www.instagram.com/girtonspringball2023/">
        <i class="bi bi-instagram"></i>
      </a>
    </h2>
  </div>
</section>
{{ end }}
